doctype transitional
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 An error occurred
      p
        strong User id
      p= user_id
      h2.h2 Error ID
      p= error_id